<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carosello vue</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <script src="https://unpkg.com/vue@3.4.27/dist/vue.global.js"></script>

    <div id="app">

        <div class="container">
            <div class="slider-wrapper" tabindex="0">

                <div v-for="slide, i in slides" class="item" :class="visibility(i, 'hide')">
                    <img :src="slide.image" alt="Spiderman" />
                    <div class="text">
                        <h3>{{ slide.title }}</h3>
                        <p> {{ slide.text }} </p>
                    </div>
                </div>

                <div class="thumbs">
                    <div @click="back()" class="prev"></div>
                    <div @click="next()" class="next"></div>
                    <div v-for="slide, i in slides" class="thumb" :class="visibility(i, '')">
                        <img :src="slide.image" alt="" />
                    </div>

                </div>

            </div>
        </div>

    </div>

    <script src="./js/main.js"></script>
</body>

</html>